@import url(../css/normalize.css);
/*@import url(../fonts/fonts.css);*/

body {
  width: 100%;
  color: #333;
  background-color: #fff;
  font-family: 'Stolzl-Regular', sans-serif;
  font-size: 14px;
  position: relative;
  -webkit-font-smoothing: antialiased;
	/*overflow:visible !important;*/
}
* {
  -moz-transition: all 0.3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}
body.hidden {
  overflow-y: hidden;
}

section {
  padding: 60px 0px;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}
/* blue = #02bfdb */
.fr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
.fr-fs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    margin: 0 -15px;
}
.fi-4{
  box-sizing: border-box;

  width: calc(100% / 12 * 3 - 30px);
  margin: 15px;
}
.fi-3{
  box-sizing: border-box;

  width: calc(100% / 12 * 4 - 30px);
  margin: 15px;
}
.fi-2 {
  box-sizing: border-box;

  width: calc(100% / 12 * 6 - 30px);
  margin: 15px;
}


@media screen and (max-width: 768px) {
  .fi-3,
  .fi-4 {
    width: calc(100% / 12 * 6 - 30px);
  }
}
@media screen and (max-width: 520px) {
  .fi-2,
  .fi-3,
  .fi-4 {
    width: calc(100% / 12 * 120 - 30px);
  }
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection{
  color            : #333;
  background-color : #02bfdb
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection{
  color            : #333;
  background-color : #02bfdb
}

::-moz-selection{
  color            : #333;
  background-color : #02bfdb
}

::selection{
  color            : #333;
  background-color : #02bfdb
}

::-moz-selection{
  color            : #333;
  background-color : #02bfdb
}
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select {
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.4s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  cursor: pointer;
}
button {
  border: transparent;
  background: none;
}
input,
textarea{
	color: #333;
    font-family: 'Stolzl-Book';
	font-size: 13px;
	padding: 10px 20px;
	background: none;
	border: 1px solid #333;
}
select {
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
    background: none;
    border: 1px solid #333;
}
option {
  color: #000;
}
textarea {
    resize:none;
}
input:focus,
textarea:focus{
	background: none;
	color: #333;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}
input:active,
textarea:active{
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}
ol, ul {
	list-style-type: none;
	padding-left: 0;
}
a {
  color: #333;
  font-size: 15px;
}
a:hover {
  color: #02bfdb;
}

a.link:hover {
	text-decoration: underline;
}
button:active{
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
  box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
}

.hidden {
	display: none !important;
}
.btn {
	font-size: 13px;
	font-family: 'Stolzl-Medium';
	padding: 10px 18px;
    background-color: #02bfdb;
    -webkit-transform: skew(-30deg);
	-ms-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	transform: skew(-30deg);

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	border: 1px solid #02bfdb;
	position: relative;

	max-width: 300px;
}

.title {
  
}